/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-mar-2020, 16:33:06
    Author     : DSIC_jsoler
*/

.time-slot {
    -fx-background-color: black, white ;
    -fx-background-insets: 0, 1 1 0 0 ;
    -fx-cursor: hand;
    -fx-background-radius: 9 9 9 9;
    -fx-border-radius: 9 9 9 9;
}

.time-slot-libre{
    -fx-background-color: black, red ;
    -fx-background-insets: 0, 1 1 0 0 ;
   
    
    -fx-background-radius: 9 9 9 9;
    -fx-border-radius: 9 9 9 9;
}

.time-slot:selected {
    -fx-background-color: indianred;
}

.date-picker > .text-field {
    -fx-text-fill: blue;
}

#panelFondo{
    
    -fx-background-color: linear-gradient(#f9fffd,#c8fac5,#4CAF50);
}


.label{
    -fx-text-fill: black;
    -fx-font-family: "Arial Black";
    
    
}
#borderPane{
    -fx-background-color: #f9fffd;
    
    
}

.button {
  -fx-background-color: #4CAF50; /* Green */
  -fx-border: none;
  -fx-color: white;
 -fx-text-align: center;
  -fx-text-decoration: none;
  -fx-display: inline-block;
  -fx-font-size: 12px;
  -fx-font-family: "Arial Black";
}
  
  .date-picker{
    
   -fx-color: #4CAF50; /* Green */
 -fx-text-align: center;
  -fx-text-decoration: none;
  -fx-display: inline-block;
  -fx-font-size: 12px;
  -fx-font-family: "Arial Black";
  
}