/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 31 may 2023, 16:22:03
    Author     : migue
*/

#titulo{
    
    -fx-text-fill: black;
    -fx-font-family: "Arial Black";
}

#image{
    -fx-cursor: hand;
}